<template name="client">
	<a href="#" class="list-group-item">
		<strong>{{name}}</strong><br/>
        <span>{{address}}</span>
	</a>
</template>

<template name="clientList">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3>Ügyfelek</h3>
		</div>
		<div class="panel-body">
			<form class="main form">
				<div class="form-group">
					<label class="control-label" for="name">Név:</label>
					<div class="controls">
						<input name="name" id="name" type="text" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="address">Cím:</label>
					<div class="controls">
						<input name="address" id="address" type="text" class="form-control" />
					</div>
				</div>
				<input type="submit" value="Ment" class="btn btn-primary"/>
			</form>
		</div>
		<ul class="list-group">
		{{#each clients}}
			{{> client}}
		{{/each}}
		</ul>
	</div>
</template>